<span class="searchString">
  <input type="text" class="mr-2" id="searchStringNameCustomer" name="searchStringNameCustomer" #customer_Name id="searchStringNameCustomer"
    [(ngModel)]="searchStringNameCustomer" (ngModelChange)="changeValueNameCustomer()" placeholder="Search">
  <button type="submit" id="searchStringCustomerName" (click)="clickSearchString()" class="btn btn-danger">
    Search</button>
</span>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right" id="btnAdd" data-toggle="modal" data-target="#exampleModal"
  (click)="addClick()" data-backdrop="static" data-keyboard="false"><span class="fa fa-plus"></span>
  Add New Customer
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModelTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-cus [cus]="cus" *ngIf="ActivateAddEditCusComp"></app-add-edit-cus>
      </div>
    </div>
</div>
</div>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width:10%">Customer_ID</th>
        <th style="width:25%">Customer_Name</th>
        <th style="width:15%">Address</th>
        <th style="width:15%">Telephone</th>
        <th style="width:25%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customers">
        <td>{{item.customer_ID}}</td>
        <td>{{item.customer_Name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.telephone}}</td>
        <td>
          <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#exampleModal"
            (click)="editClick(item)" data-backdrop="static" data-keyboard="false"><i class="fa fa-edit"></i>
            Edit
          </button>
          <button type="button" class="btn btn-primary m-2" (click)="deleteClick(item.customer_ID)"><i class="fa fa-trash"></i>
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
