<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right" style="margin: 5px 404px 5px 0px" data-toggle="modal"
  data-target="#exampleModal" (click)="addClick()" data-backdrop="static" data-keyboard="false"> <i class="fa fa-plus"></i>
  Add New Employee
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModelTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-emp [employee]="employee" *ngIf="ActivateAddEditEmpComp"></app-add-edit-emp>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:10%">Employee_ID</th>
                <th style="width:20%">Employee_Name</th>
                <th style="width:15%">Address</th>
                <th style="width:5%">Gender</th>
                <th style="width:15%">Telephone</th>
                <th style="width:10%">DateOfBirth</th>
                <th style="width:25%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of employees">
                <td>{{item.employee_ID}}</td>
                <td>{{item.employee_Name}}</td>
                <td>{{item.address}}</td>
                <td>{{item.gender==true?"Nam":"Nữ"}}</td>
                <td>{{item.telePhone}}</td>
                <td>{{item.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                <td>
                    <button type="button" class="btn btn-primary float-right m-2" 
                    (click)="deleteClick(item.employee_ID)"> <i class="fa fa-edit"></i>
                        Delete
                    </button>
                    <button type="button" class="btn btn-primary float-right m-2" 
                        data-toggle="modal" data-target="#exampleModal"
                        (click)="editClick(item)" data-backdrop="static" data-keyboard="false">
                        <i class="fa fa-trash"></i>
                            Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


